// --------------------
// Definition of variables
$primary: (rgb(14, 185, 85));


// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import '../node_modules/bootstrap/scss/bootstrap.scss';
// 
// To install Reactstrap:
// 1) Run in the client folder: $ npm i reactstrap
// 2) Go to the official documentation and take some examples: https://reactstrap.github.io/
// import { Button } from 'reactstrap';
// <Button color="danger">Danger!</Button>
// ----------------------------------------


// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
}


.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color:$primary;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  text-align: center;
  

  // .App-logo {
  //   animation: App-logo-spin infinite 10s linear;
  //   height: 80px;
  // }

  .header {
    text-align: center;
  }

  .App-header {
    background-color: $primary;
    padding: 20px;
    color: white;
    font-weight: bold;
    text-align: inherit;

    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 3.0em;
    margin-right: 75%;
  }

  .App-intro {
    font-size: large;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

.lilyPadBackground {
  width: 100%;
  height: 700px;
  background-color: $primary;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.intro {
  color: white;
  margin-right: 50%;
}

.white-square {
  background-color: white;
  color: gray;
  width: 400px;
  height: 450px;
  border-radius: 5px;
  margin-left: 60%;
  margin-bottom: 100px;
  font-size: 12pt;
  box-shadow: 0px 10px 40px 1px #4d4d4d;
}

.register-button {
  border-radius: 5px;
  background-color: $primary;
  color: white;
}

.container {
  width: 100%;
  height: 400px;
  background-color: white;
  color: $primary;
  background-repeat: no-repeat;
  background-position: center;
}

.components {
  width: 100%;
  height: 400px;
  background-color: $primary;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
}

.icons {
  width: 100px;
  height: 100px;
}


// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1.2em;
  }
  img{
    width:350px;
  }
}

// ---------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}



// ---------------------
// Style MyProfile

div.Profile {
  img {
    width: 50px;
    height:50px;
  }
}
